.arrow {
  width: 28px;
  height: 28px;
  background: transparent no-repeat;
  &.arrow-left {
    background-image: url("../../img/co-circle-arrow-left.svg");
  }
  &.arrow-left-white {
    background-image: url("../../img/co-circle-arrow-left-white.svg");
  }
  &.arrow-right {
    background-image: url("../../img/co-circle-arrow-right.svg");
  }
  &.arrow-right-white {
    background-image: url("../../img/co-circle-arrow-right-white.svg");
  }
  &.arrow-down {
    background-image: url("../../img/co-circle-arrow-down.svg");
  }
  &.arrow-up {
    background-image: url("../../img/co-circle-arrow-up.svg");
  }
}

.append-arrow {
  @include font-size($font__size--normal);
  color: $colour__orange;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  @include db-transition(250ms ease-in-out);
  outline: none!important;
  box-shadow: none!important;

  &::after {
    content: '';
    width: 31px;
    height: 11px;
    display: inline-block;
    background-color: $colour__orange;
    -webkit-mask: url(../../img/co-arrow-right.svg) no-repeat 50% 50%;
    mask: url(../../img/co-arrow-right.svg) no-repeat 50% 50%;
    margin-left: 6px;
    transition: 350ms ease-in-out;
  }
  &:hover {
    opacity: $hover-opactiy;
    &::after{
      @include db-transform(translateX(10px));
    }
  }
  &-left {
    @include font-size($font__size--normal);
    color: $colour__orange;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    &::before{
      content: '';
      width: 31px;
      height: 11px;
      display: inline-block;
      background-color: $colour__orange;
      transform: rotate(-180deg);
      -webkit-mask: url(../../img/co-arrow-right.svg) no-repeat 50% 50%;
      mask: url(../../img/co-arrow-right.svg) no-repeat 50% 50%;
      margin-right: 6px;
      transition: 350ms ease-in-out;
    }
    &:hover {
      &::before{
        @include db-transform(translateX(-10px) rotate(-180deg))
      }
    }
  }

  &.white-arrow {

    &::after {
      background-color: $colour__white;
    }
  }
}