.loadmore {
  width: 100%;
  background-color: $colour__grey--mid;
  border-radius: 2px;
  display: block;
  text-align: center;
  @include font-size(18);
  font-weight: 600;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px 0;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}
.loadmore:hover {
  background-color: #767676;
  color: #fff;
}