#imageCarouselCaption {
    // background-color: $colour__orange;
    @include db-absolute(auto, 0, 0, 0);
    z-index: 96;

    h4,
    h5,
    p {
        color: $colour__white;
        text-transform: uppercase;
    }

    h4 {
        @include font-size($font__size--large);
    }

    h5 {
        @include font-size($font__size--small);
    }

    .view-details {
        display: none;
        @include media-breakpoint-up(sm) {
            padding: 20px;
            width: 100%;
            display: inline-block;
            max-width: 75%;
        }
        @include media-breakpoint-down(md) {
            max-width: 65%;
        }
    }

    .view-project {
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px;
        color: $colour__white;
        max-width: 100%;
        @include media-breakpoint-up(sm) {
            display: inline-block;
            float: right;
            height: 100%;
            position: absolute;
            max-width: 25%;
        }
        @include media-breakpoint-between(sm, md) {
            max-width: 35%;
        }

        .append-arrow {
            color: $colour__white;
            &::after {
                background-color: $colour__white;
            }
            @include media-breakpoint-up(sm) {
                @include db-absolute($bottom: auto);
                @include db-center();
                width: 100%;
            }
        }
    }
}

#imageBlockCarousel {
    background-color: $colour__white;
    //border-top: 2.5px solid $colour__white;
    //border-bottom: 2.5px solid $colour__white;

    .title {
        height: 140px;
        position: relative;
        vertical-align: middle;
        padding-top: 55px;
        padding-bottom: 55px;

        h3 {
            @include font-size(30);
            color: $colour__orange;
            display: inline;
        }

        .append-arrow {
            float: right;
            margin-top: 5px;
        }
    }

    .container-fluid {
        &:not(.title) {
            padding: 0;
        }
    }

    .row {
        margin-left: -2.5px;
        margin-right: -2.5px;
        div {
            padding: 0;
        }
        .row {
            margin: 0;
        }
    }

    .project {
        display: block;
        position: relative;
        &:after {
            content: "";
            @include db-absolute(auto, 3px, 3px, 3px);
            height: 75px;
            @include db-linear_gradient(0deg, $black, $black, 0.8, 0);
        }

        @include media-breakpoint-up(lg) {
            &:hover {
                .content {
                    h4,
                    h5 {
                        opacity: 1;
                    }
                    > * {
                        @include db-transform(translateY(0));
                        &:nth-child(1) {
                            opacity: 1;
                        }
                    }
                }
                .overlay {
                    opacity: 0.85;
                }
            }
        }
    }

    .content {
        padding: 20px;
        position: absolute;
        z-index: 20;
        left: 60px;
        right: 60px;
        @include db-center();

        > * {
            @include db-transform(translateY(20px));
            @include db-transition(all 0.3s ease-out);
            opacity: 0;
        }

        h4 {
            opacity: 0;
            color: $colour__white;
            @include font-size(30);
        }

        h5 {
            opacity: 0;
            color: $colour__orange;
            @include font-size(24);
        }
        @include media-breakpoint-down(md) {
            left: 30px;
            right: 30px;
        }
    }
    .view-project-link {
        color: $colour__white;
        @include db-absolute(auto, 60px, 15px, 60px);
        z-index: 99;
        .append-arrow {
            color: $colour__white;
            &::after {
                background-color: $colour__white;
            }
        }
        @include media-breakpoint-down(md) {
            left: 30px;
            right: 30px;
        }
    }

    .overlay {
        @include db-transition(opacity 400ms ease-in-out);
        background-color: $colour__grey--dark;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
        border: 2.5px solid white;
        @include media-breakpoint-down(sm) {
            border-left: 0;
            border-right: 0;
        }
    }

    .image {
        background-size: cover;
        background-position: 50%;
        display: block;
        border: 2.5px solid #ffffff;
        @include media-breakpoint-down(sm) {
            border-left: 0;
            border-right: 0;
        }

        &.full-col {
            height: calc(50vw - 9px);
            width: 100%;
        }

        &.half-col {
            height: calc(100vw * 0.5);
        }

        &.half-row {
            height: calc(25vw - 4.5px);
        }
        @include media-breakpoint-down(sm) {
            &.full-col {
                height: calc(50vw - 4.5px);
                width: 100%;
            }

            &.half-col {
                height: calc(100vw * 0.8);
            }

            &.half-row {
                height: calc(50vw - 4.5px);
                width: 100%;
            }
        }
    }
}
