#imageCarousel {
    background-color: $colour__grey--light;
    border-bottom: 5px solid $colour__white;
    background-image: url("../../../assets/img/loader.svg");
    background-position: center;
    background-repeat: no-repeat;

    .carousel-item > div:not(.view-details):not(.view-project) {
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        height: calc(100vw * 0.45);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -webkit-animation: zoom 20s;
        animation: zoom 20s;
    }

    .carousel-control-next-icon {
        background-image: url(../../img/co-circle-arrow-right-white.svg);
    }

    .carousel-control-prev-icon {
        background-image: url(../../img/co-circle-arrow-left-white.svg);
    }

    .carousel-control-prev,
    .carousel-control-next {
        opacity: 1;
        z-index: 95;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 28px;
        height: 28px;
    }
}
