#archive--intro {

	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 160px;
	padding-right: 160px;
	background-color: $colour--grey__light;	

	@include media-breakpoint-down(md) {
		padding: $container__padding--desktop;
	}

	@include media-breakpoint-down(sm) {
		padding-left: 15px;
		padding-right: 15px;
	}

	.archive--intro__content {
		.archive-description{
			column-count: 2;
			@include media-breakpoint-down(md) {
				column-count: 1;
			}
		}
	}
}

