.home {
    margin: 0;
    section {
        &#header-section {
            height: 100vh;
            @include media-breakpoint-down(sm) {
                height: 80vh;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .section__text .sub-content.introduction:after {
            display: none;
        }
    }
    .section__text .sub-content.logo {
        padding: 50px;
        text-align: center;
        .btn {
            background-color: #ffffff;
            padding: 15px 50px;
            border-radius: 0;
            margin-bottom: 30px;
            border: 1px solid $primary;
            @include media-breakpoint-down(sm) {
                font-size: 14px;
                padding: 15px 10px;
            }
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
        @include media-breakpoint-down(md) {
            display: block !important;
            padding: 0 15px;
        }
    }
    .main-inner {
        &:after {
            content: "";
            @include db-absolute();
			background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 25%);
			background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 25%);
			background: -o-linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 25%);
			background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 25%);	
        }
    }
    .homeCarouselOverlay {
        @include media-breakpoint-up(lg) {
            @include db-absolute();
            @include db-center();
            z-index: 2;
        }
        @include media-breakpoint-down(lg) {
            padding: 30px 0;
        }
        > .container {
            @include media-breakpoint-up(lg) {
                @include db-absolute($bottom: auto);
                @include db-center();
            }
            @include media-breakpoint-up(lg){
                width: 75vw;
                max-width: 1140px;
            }
        }
        p {
            color: $white;
            text-align: center;
            text-transform: uppercase;
			margin-bottom: 30px;
			font-size: 60px;
            @include media-breakpoint-down(md) {
                color: $colour__orange;
            }
            @include media-breakpoint-down(sm) {
                font-size: 40px;
            }
        }
        .btn {
            background-color: $white;
            width: 100%;
            text-align: center;
            padding: 15px 50px;
            -webkit-backface-visibility: hidden;
            @include media-breakpoint-down(lg){
                padding: 15px 25px;
            }
            @include media-breakpoint-down(md) {
				border: 1px solid $colour__orange;
				margin-bottom: 30px;
				padding: 15px 25px;
			}
			&:hover{
				opacity: 0.8;
			}
        }
    }
}

#header-section {
    background-color: $secondary;
    width: 100%;
    position: relative;
    background-position: top center;
    background-size: cover;
    text-align: center;
    .container {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 50%;
        @include db-transform(translateY(-50%));
    }
}

.contact-details {
    color: $colour__orange;
    @include font-size($font__size--normal);
    background-position: 0 65%;
    background-size: 115%;
    background-blend-mode: screen;
    position: relative;
    border: 2.5px solid transparent;
    h3 {
        @include font-size($font__size--large);
    }
    p {
        @include font-size($font__size--large);
        color: $colour__grey--dark;
    }

    @include media-breakpoint-down(sm) {
        background-position: center;
        background-size: auto;
        height: calc(100vw * 0.8);
    }
}
