$news-grid-gutter: 2.5px;
.news {
	//-- grid styling --
	&.container-fluid {
		padding: 0;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	div[class^="col-"] {
		padding: 0;
	}
	.full {
		height: calc(50vw - 14px);
		width: 100%;
	}
	.half {
		height: calc(25vw - 4.5px);
		border: solid $news-grid-gutter #ffffff;
		> div {
			height: calc(25vw - 4.5px);
		}
	}
	.seventy {
		height: calc(35vw - 9.5px);
		border: solid $news-grid-gutter #ffffff;
		> div {
			height: calc(35vw - 9.5px);
		}

	}
	.thirty {
		height: calc(15vw - -0.5px);
		border: solid $news-grid-gutter #ffffff;
		&.news-block h2 {
			@include media-breakpoint-down(md) {
				@include text-truncate(2);
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.full {
			height: calc(100vw - 9px);
			width: 100%;
		}
		.half {
			height: calc(30vw - -0.5px);
			border: solid $news-grid-gutter #ffffff;
			border-left: 0;
			border-right: 0;
			> div {
				height: calc(70vw - -9.5px);

			}
		}
		.seventy {
			height: calc(70vw - 9.5px);
			border: solid $news-grid-gutter #ffffff;
			border-left: 0;
			border-right: 0;
			> div {
				height: calc(70vw - 9.5px);
			}
		}
		.thirty {
			height: calc(30vw - -0.5px);
			border: solid $news-grid-gutter #ffffff;
			border-left: 0;
			border-right: 0;
		}
	}
	//-- end of grid styling --

	.half-post {
		&:hover{
			.news-block{
				&.bk-orange{
					background-color: $colour__orange--dark;
				}
				&.bk-grey{
					background-color: #d4d4d4;
				}
			}
			.news-block-image{
				transform: scale(1.1);
			}
		}
	}
	.full {
		&:hover{
			.news-block{
				&.bk-orange{
					background-color: $colour__orange--dark;
				}
				&.bk-grey{
					background-color: #d4d4d4;
				}
			}
			.news-block-image{
				transform: scale(1.1);
			}
		}
	}
	.full-insta {
		overflow: hidden;
		position: relative;
		&:after {
			content: '';
			@include db-absolute($bottom: auto);
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: auto;
			left: 0;
			height: 200px;
			@include db-linear_gradient(180deg, #626262, #888888, 1, 0);
		}
		&:hover{
			.insta-block{
				transform: scale(1.1);
			}
		}
	}


	.news-block {
		position: relative;
		padding: 30px !important;
		background-position: center;
		@include media-breakpoint-down(lg) {
			padding: 15px !important;
		}
		> * {
			color: #FFFFFF;
		}
		h2{
			margin-bottom: 0;
			@include media-breakpoint-down(md){
				@include text-truncate(3);
			}
			@include media-breakpoint-down(sm){
				@include text-truncate(2);
			}
		}

		h2, .read-more {
			@include media-breakpoint-down(lg) {
				@include font-size(16);
			}
		}
		.date {
			display: block;
			text-transform: uppercase;
			font-weight: 100;
			letter-spacing: 3.75px;
			font-size: 2.4rem;
			color: #ffffff!important;
			font-family: $font__primary--medium;
			@include media-breakpoint-down(md){
				@include font-size(14);
			}
			@include media-breakpoint-down(sm){
				display: none !important;
			}
		}
		.read-more {
			margin: 0;
			@include db-absolute($top: auto, $right: 30px, $bottom: 30px, $left: 30px);
			@include media-breakpoint-between(md, lg) {
				right: 15px;
				bottom: 15px;
				left: 15px;
			}
			@include media-breakpoint-down(sm) {
				bottom: 15px;
				left: 15px;
			}
		}
		&.filter-out {
			@include scale-out();
		}
		&.filter-in {
			@include scale-in();
		}
		&-image-wrap {
			overflow: hidden;
			@include media-breakpoint-down(sm){
				height: calc(70vw - 9.5px);
			}
		}
		&-image {
			@include media-breakpoint-down(sm){
				height: calc(70vw - 9.5px);
			}
			background-position: center;
			background-size: cover;
			transform: scale(1);
			@include db-transition(all 350ms ease-in-out);
		}
	}
	.bk-orange {
		@include db-transition(background-color 350ms ease-in-out);
		a {
			color: white;
			&:after {
				background-color: #FFFFFF;
			}
		}
	}
	.bk-grey {
		background-color: $colour__grey--light;
		@include db-transition(background-color 350ms ease-in-out);
		> * {
			color: #000000;
		}
		.date, .read-more {
			color: $colour__orange!important;
		}
	}
	.bk-black {
		background-color: $colour__grey--dark;
	}
	.twitter-block, .full-insta {
		h2{
			margin-bottom: 5px;
			z-index: 99;
		}
		.icon__social {
			background-color: #ffffff;
			margin-right: 15px;
		}
	}
	.full-insta{
		border: solid $news-grid-gutter #ffffff;
		@include media-breakpoint-down(sm) {
			border-left: 0;
			border-right: 0;
		}
		h2 {
			@include db-absolute($top: 30px, $right: 30px, $bottom: auto, $left: 30px);
			color: #ffffff;
		}
		.insta-block {
			@include db-transition(all 350ms ease-in-out);
			background-position: center;
			background-size: cover;
		}
	}
	.twitter-block {
		@include db-transition(background 350ms ease-in-out);
		&:hover{
			background-color: #444444;
		}
		p {
			display: block;
			letter-spacing: 1.2px;
			font-size: 2.4rem;
			color: #ffffff;
			font-family: $font__primary--medium;
			@include text-truncate(4);
			@include media-breakpoint-down(md){
				@include font-size(14);
			}
			@include media-breakpoint-down(sm){
				@include text-truncate(2);
			}
		}
	}
}
