.project {
  &__specifics {
    font-size: 13px;
    text-transform: uppercase;

    &--title {
      color: $colour__grey--mid;
    }
    &--detail {
      color: $colour__orange;
    }
  }
}

#overview {
  padding: $container__padding--desktop;
  @include media-breakpoint-down(sm) {
    padding: $container__padding--mobile;
  }
}

#content {
  padding: $container__padding--desktop;
  @include media-breakpoint-down(sm) {
    padding: $container__padding--mobile;
  }
}

.section__video {
  border-bottom: 5px solid $colour__white;
}

.title-block {
  height: 140px;
  position: relative;
  vertical-align: middle;
  padding-top: 55px;
  padding-bottom: 55px;

  h3 {
    @include font-size(30);
    color: $colour__orange;
    display: inline;
  }

  .append-arrow {
    float: right;
    margin-top: 5px;
  }
}

#relatedProjects,
#projects {
  background-color: $colour__white;
  border-top: 2.5px solid $colour__white;
  border-bottom: 2.5px solid $colour__white;

  .container-fluid {
    &:not(.title-block) {
      padding: 0;
    }
  }

  .row {
    margin-left: -2.5px;
    margin-right: -2.5px;

    div.ajax-item {
      padding: 0;
    }
  }

  .project {
    display: block;
    position: relative;
    border: 2.5px solid $colour__white;
    &:after {
      content: "";
      @include db-absolute(auto, 0, 0, 0);
      height: 75px;
      @include db-linear_gradient(0deg, $black, $black, 0.8, 0);
    }
    @include media-breakpoint-up(lg) {
      &:hover {
        .content {
          h4,
          h5 {
            opacity: 1;
          }
          > * {
            @include db-transform(translateY(0));
            &:nth-child(1) {
              opacity: 1;
            }
          }
        }

        .overlay {
          opacity: 0.85;
        }
      }
    }
    .view-project-link {
      color: $colour__white;
      @include db-absolute(auto, 60px, 15px, 60px);
      z-index: 99;
      .append-arrow {
        color: $colour__white;
        &::after {
          background-color: $colour__white;
        }
      }
      @include media-breakpoint-down(md) {
        left: 30px;
        right: 30px;
      }
    }
  }

  .content {
    position: absolute;
    z-index: 20;
    left: 60px;
    right: 60px;
    @include db-center();

    @include media-breakpoint-down(md) {
      left: 10px;
      right: 10px;
    }

    > * {
      @include db-transform(translateY(20px));
      @include db-transition(all 0.3s ease-out);
      opacity: 0;
    }

    h4 {
      opacity: 0;
      color: $colour__white;
      @include font-size(30);

      @include media-breakpoint-down(md) {
        @include font-size(24);
      }
    }

    h5 {
      opacity: 0;
      color: $colour__orange;
      @include font-size(24);

      @include media-breakpoint-down(md) {
        @include font-size($font__size--large);
      }
    }

    h6 {
      opacity: 0;
      color: $colour__white;
      font-weight: bolder;
      @include font-size($font__size--small);

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    p {
      color: $colour__white;
    }

    .append-arrow {
      color: $colour__white;

      &::after {
        background-color: $colour__white;
      }
    }
  }

  .overlay {
    @include db-transition(opacity 400ms ease-in-out);
    background-color: $colour__grey--dark;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }

  // h4 {
  // 	margin-top: 40px;
  // 	margin-bottom: 40px;
  // }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .image {
    background-size: cover;
    background-position: 50%;
    display: block;
    &.full {
      height: calc(50vw - 9px);
    }

    &.half {
      height: calc(25vw - 4.5px);
    }

    &.full-col {
      height: calc(50vw - 4px);
      width: 100%;
    }

    &.half-col {
      height: calc(100vw * 0.5);
    }

    &.half-row {
      height: calc(25vw - 4.5px);
    }

    @include media-breakpoint-down(sm) {
      &.full-col {
        height: calc(50vw - 4.5px);
        width: 100%;
      }

      &.half-col {
        height: calc(100vw * 0.8);
      }

      &.half-row {
        height: calc(50vw - 4.5px);
      }
      &.half {
        height: calc(50vw - 4.5px);
      }
      &.full {
        height: calc(100vw - 9px);
      }
    }
  }
}
.vote-banner {
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: rgba(#ffffff, 0.8);
  z-index: 99;
  padding: 10px 15px;
  p,
  form {
    display: inline;
    vertical-align: middle;
  }
  form {
    button {
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 0 5px;
    }
  }
  @include media-breakpoint-down(md) {
    right: 10px;
    bottom: 10px;
    left: 10px;
    p, 
    form {
      width: 100%;
      display: block;
    }
    form button {
        width: 100%;
        margin: 0;
    }
  }
}
