@mixin loader($duration) {
    animation: loader-animation $duration;
    -moz-animation: loader-animation $duration; /* Firefox */
    -webkit-animation: loader-animation $duration; /* Safari and Chrome */
    -o-animation: loader-animation $duration; /* Opera */
    animation-fill-mode: forwards;
}

@-webkit-keyframes loader-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* fade in  */
@mixin fadeInMix($duration) {
    animation: fadeIn $duration;
    -moz-animation: fadeIn $duration; /* Firefox */
    -webkit-animation: fadeIn $duration; /* Safari and Chrome */
    -o-animation: fadeIn $duration; /* Opera */
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* width 100% */
@mixin height100($duration) {
    animation: height100-animation $duration;
    -moz-animation: height100-animation $duration; /* Firefox */
    -webkit-animation: height100-animation $duration; /* Safari and Chrome */
    -o-animation: height100-animation $duration; /* Opera */
    animation-fill-mode: forwards;
}

@-webkit-keyframes height100-animation {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes height100-animation {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

/* width 100% */
@mixin width100($duration) {
    animation: width100-animation $duration;
    -moz-animation: width100-animation $duration; /* Firefox */
    -webkit-animation: width100-animation $duration; /* Safari and Chrome */
    -o-animation: width100-animation $duration; /* Opera */
    animation-fill-mode: forwards;
}

@-webkit-keyframes width100-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes width100-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* bouncing */
@mixin db-arrow_bounce($duration) {
    animation: arrow-bounce $duration linear infinite;
    -moz-animation: arrow-bounce $duration linear infinite;
    -webkit-animation: arrow-bounce $duration linear infinite;
    -o-animation: arrow-bounce $duration linear infinite;
}

@keyframes arrow-bounce {
    0% {
        top: 25px;
    }
    25% {
        top: 40px;
    }
    50% {
        top: 25px;
    }
    100% {
        top: 25px;
    }
}

@mixin scale-in() {
    animation: scale-in 1s ease-in-out;
    -webkit-animation: scale-in 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes scale-in {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@mixin scale-out() {
    animation: scale-out 1s ease-in-out;
    -webkit-animation: scale-out 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes scale-out {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@mixin scroll-animation() {
    animation: scroll-x 750ms ease-in-out;
    -webkit-animation: scroll-x 750ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes scroll-x {
    0% {
        transform: translateX(-120px);
        -webkit-transform: translateX(-120px);
    }
    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.1, 1.1);
    }
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.1, 1.1);
    }
}
