@mixin db-colour-bullets( $colour: $brand-primary, $padding: 18px, $size: 6px, $top: 10px ) {
  padding: 0;
  li {
    position: relative;
    list-style-type: none;
    padding-left: $padding;
    &:before {
      content: '';
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: $colour;
      position: absolute;
      top: $top;
      left: 0;
    }
  }
}