@mixin db-absolute($top:0, $right:0, $bottom:0, $left:0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin db-position($position, $top:0, $right:0, $bottom:0, $left:0) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}