@mixin db-linear_gradient( $angle, $colour-from, $colour-to, $opacity-from:1, $opacity-to: $opacity-from ) {
  background: -webkit-linear-gradient($angle, rgba($colour-from, $opacity-from), rgba($colour-to, $opacity-to));
  background: -moz-linear-gradient($angle, rgba($colour-from, $opacity-from), rgba($colour-to, $opacity-to));
  background: -o-linear-gradient($angle, rgba($colour-from, $opacity-from), rgba($colour-to, $opacity-to));
  background: linear-gradient($angle, rgba($colour-from, $opacity-from), rgba($colour-to, $opacity-to));
}

@mixin db-radial_gradient() {
  background: -webkit-radial-gradient(circle at 52% 24%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, #f5f5f1);
  background: -moz-radial-gradient(circle at 52% 24%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, #f5f5f1);
  background: -o-radial-gradient(circle at 52% 24%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, #f5f5f1);
  background: radial-gradient(circle at 52% 24%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 60%, #f5f5f1);
}