@mixin db-custom-gutter( $width ) {
  $amount: $width / 2;
  .container {
    padding-left: $amount;
    padding-right: $amount;
    .row {
      margin-left: -$amount;
      margin-right: -$amount;
      div[class*=" col-"] {
        padding-left: $amount;
        padding-right: $amount;
      }
    }
  }
}

@mixin db-adjust-container( $xl, $lg: $xl, $md: $xl, $sm: $xl ) {
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: $container-sm + $sm;
  }
  @include media-breakpoint-up(md) {
    width: $container-md + $md;
  }
  @include media-breakpoint-up(lg) {
    width: $container-lg + $lg;
  }
  @include media-breakpoint-up(xl) {
    width: $container-xl + $xl;
  }
}