@mixin db-transform( $args ) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin db-center() {
  top: 50%;
  @include db-transform(translateY(-50%));
}