.member, .ajax-item {
	opacity: 0;
	@include db-transition(opacity (.3s) ease-out);
	$lines: 20;
	$delay: 0.1;
	$delay-inc: 0.1;

	@for $i from 2 to $lines {
		&:nth-child(#{$i}) {
			@include db-transition-delay($i * $delay-inc + s);
		}
	}
	&.active {
		opacity: 0;
	}
	&.in {
		opacity: 1;
	}
}