#back-to-top {
	font-size: 13px;
	color: $colour__orange;
	line-height: 26px;
	font-weight: 600;
	transition: 250ms ease-in-out;
	letter-spacing: 3px;
	&:hover{
		opacity: $hover-opactiy;
		cursor: pointer;
	}

	&::after {
		content: '';
		display: inline-block;
		width: 28px;
		height:28px;
		vertical-align: bottom;
		margin-left: 15px;
		background: {
			image: url(../../img/co-circle-arrow-up.svg);
			repeat: no-repeat;
			position: 50%;
		}
	}
	@include media-breakpoint-down(sm){		
		padding: 15px 0;
		display: block;
	}
}