#building-type {

	a {
		&:hover {
			text-decoration: none;
		}
	}

	.type-block {
		color: $colour__white !important;
	}

	.type-image {
		width: 100%;
		height: calc(100vw * 0.45);
		display: block;
		background-size: cover;
		background-position: 50%;
	}

	.type-content {
		padding: 30px 60px;
		h1, h2, h3, h4, span {
			font-size: 7rem;
			color: $colour__white;
			line-height: 1;
		}
		span {
			font-size: 2.1rem;
		}
		@include media-breakpoint-down(lg){
			h1, h2, h3, h4 {
				font-size: 4.5rem;
			}
			span {
				font-size: 2rem;
			}
		}
		@include media-breakpoint-down(lg){
			padding: 30px 50px;
		}
		@include media-breakpoint-down(md){
			h1, h2, h3, h4  {
				font-size: 3rem;
			}
			padding: 30px;
		}

	}

	.image-first {
		background-color: $colour__orange;
		padding: 0;
		@include media-breakpoint-up(md){
			border-right: 2.5px solid $colour__white;
		}
		@include media-breakpoint-down(sm){
			border-bottom: 2.5px solid $colour__white;
		}
		.type-content {
			border-top: 5px solid $colour__white;
		}
	}

	.image-last {
		background-color: $colour__grey--dark;
		padding: 0;
		@include media-breakpoint-up(md) {
			border-left: 2.5px solid $colour__white;
		}
		@include media-breakpoint-down(sm){
			border-top: 2.5px solid $colour__white;
		}
		.type-content {
			border-bottom: 5px solid $colour__white;
			color: $colour__white;
		}
	
	}
}