.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 0 0 60px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
	max-width: inherit !important;
}

label, form, .wpcf7, select {
	width: 100%;

}

select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	height: 50px;
	background-image: url(../../img/co-arrow-down.svg);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

input, textarea, select {
	border: 1px solid darken($colour__grey--light, 5%);
	background-color: $colour__grey--light;
	width: 100%;
	padding: 12px;
	margin-top: 5px;
	margin-bottom: 2rem;
}

.input-group {
	span {
		    width: calc(100% - 142px);
	}
}

input[type="checkbox"],
input[type=radio] {
	width: auto;
	margin-right: 12px;
}

input[type="submit"], button {
	background-color: $colour__orange;
	border-color: $colour__orange;
	text-transform: uppercase;
	color: $colour__white;
	border-radius: 0;
	width: auto;
	padding-left: 10vw;
	padding-right: 10vw;
	margin-bottom: 2rem;
	font-family: $font__primary--medium;
	letter-spacing: 0.3rem;
	cursor: pointer;
	@include font-size($font__size--normal);
}

input[type="submit"]:disabled, button:disabled {
	background-color: $colour__grey--light;
	border-color: $colour__grey--light;
	cursor: not-allowed;
}

.sgpb-content input[type="submit"], button {
	padding-left: inherit;
	padding-right: inherit;
}

// This might be dynamic (6) but there is no standard class and no way to adjust it in the plugin :(
.sgpb-popup-close-button-6 {
	top: 5px !important;
	right: 15px !important;
}

.calendar-icon {
	text-indent: 9999px;
	width: 30px;
	padding: 10px;
	background: {
		image: url(../../img/co-calendar.svg);
		repeat: no-repeat;
		position: 50%;
		size: 50%;
	}
}

.input-group-append button {
	background-color: $colour__grey--mid;
	color: $colour__white;
	@include font-size($font__size--normal);
	border-color: $colour__grey--mid;
	padding: 0 3rem;
	margin-top: 5px;
}

.wpcf7-list-item {
	display: block;
}

.wpcf7cf_group {
	width: 100%;
}

.three-col {
	.wpcf7-list-item {
		width: 33%;
		display: inline-block;
		margin: .6rem 0;
		@include media-breakpoint-down(md){
			width: 50%;
		}
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}

	.wpcf7-list-item-label {
		width: 100%;
		display: inline;
		color: $colour__orange;
	}
}

.two-col {
	.wpcf7-list-item {
		width: 50%;
		display: inline-block;
		margin: .6rem 0;
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}

	.wpcf7-list-item-label {
		width: 100%;
		display: inline;
		color: $colour__orange;
	}
}

.wpcf7-not-valid {
	border-color: red;
}

.wpcf7-not-valid-tip {
	color: red;
	display: block;
	margin-top: -15px;
	margin-bottom: 15px;
}
input[name="commercial-vote"], input[name="residential-vote"]{
	float: left;
}

.wpcf7 {
	.screen-reader-response {
		&[role=alert] {
			font-weight: bold;
			margin-bottom: 20px;
			background-color: red;
			padding: 10px;
			width: 100%;
			display: block;
			text-align: center;
			color: #ffffff;
			border: 1px solid #ff0000;
		}
		ul {
			display: none;
		}
	}
	.wpcf7-validation-errors{
		&[role=alert] {
			font-weight: bold;
			margin-bottom: 20px;
			background-color: red;
			padding: 10px;
			width: 100%;
			display: block;
			text-align: center;
			color: #ffffff;
			border: 1px solid #ff0000;
		}
	}
}