.contact-cta{
    .wrap{
        margin: 80px auto;
        width: 60%;
        @include media-breakpoint-down(md) {
            margin: 40px auto;
            width: auto;
        }
    }
    .newsletter-block{
        border-top: solid 2.5px #ffffff;
        border-bottom: solid 2.5px #ffffff;
        background-color: $primary;
        background-size: cover;
        @include media-breakpoint-up(md){
            &:after{
                content: '';
                @include db-absolute($left:auto);
                width: 150px;
                background-image: linear-gradient(to right, rgba($primary, 0) 40%, rgba($primary, 1));
            }
        }
        @include media-breakpoint-down (sm) {
            border-bottom: none;
        }
        .icon__social {
            background-color: #ffffff;
            color: #ffffff;
            margin-bottom: 1rem;
        }
        .newsletter {
            span{
                display: block;
                color: #ffffff;
                letter-spacing: 3px;
                font-weight: $font-weight-bold;
                font-size: 24px;
            }
            a{
                color: #ffffff;
                font-size: 18px;
            }
            @include media-breakpoint-down(md) {
                padding: 15px 0;
            }
        }
    }
    .contact-block{
        border-left: 0;
        border-right: 0;
        background-color: $primary;
        border-top: solid 2.5px #ffffff;
        border-bottom: solid 2.5px #ffffff;
        @include media-breakpoint-down (sm) {
            border-top: none;
        }
        .btn {
            background-color:transparent;
            color: #ffffff;
            padding: 15px 30px;
            border-radius: 0;
            margin-bottom: 30px;
            border: 1px solid #ffffff;
            max-width: 357px;
            display: block;
            margin: 0 auto 30px auto;
            @include media-breakpoint-down(sm){
                font-size: 14px;
                padding: 15px 10px;
            }
        }
        p {
            color: #ffffff;
        }
        span.icon:before{
            background-color: #ffffff;
        }
        @include media-breakpoint-down(md) {
            .center {
                left: 15px;
            }
        }

    }
}