.section__cta {
    .container-fluid {
        padding: 0;
    }

    .row {
        margin-left: -2.5px;
        margin-right: -2.5px;

        div,
        .block-link {
            border: 2.5px solid $colour__white;
            height: calc(25vw - 4.5px);
            @include media-breakpoint-down(md) {
                height: calc(35vw - 4.5px);
            }
            @include media-breakpoint-down(sm) {
                height: calc(50vw - 4.5px);
            }
        }
    }
    .bk-orange {
        background-color: $colour__orange;
        color: $colour__white;
        padding: 20px;
        background-image: url("../../img/co-watermark-cta-left.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
        @include db-transition(all(0.3s) ease-out);
        &:hover {
            background-color: darken($colour__orange, 10%);
            background-size: 220%;
        }
        h4,
        p,
        a {
            color: $colour__white;
        }
        .append-arrow {
            color: $colour__white;
        }
    }

    .bk-black {
        background-color: $colour__grey--dark;
        color: $colour__white;
        padding: 20px;
        background-image: url("../../img/co-watermark-cta-right.png");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 200%;
        @include db-transition(all(0.3s) ease-out);
        &:hover {
            background-color: darken($colour__grey--dark, 10%);
            background-size: 220%;
        }
        h4,
        p,
        a {
            color: $colour__white;
        }
        .append-arrow {
            color: $colour__white;
        }
    }

    h3,
    h4 {
        @include font-size(30);
        text-transform: uppercase;
        font-family: $font__primary--medium;
        font-weight: 100;
        @include media-breakpoint-down(md) {
            @include font-size(24);
        }
    }

    p {
        @include font-size(20);
        text-transform: uppercase;
        font-family: $font__primary--medium;
        font-weight: 100;
        line-height: 2rem;
        @include media-breakpoint-down(md) {
            @include font-size(16);
        }
    }

    .append-arrow {
        position: absolute;
        bottom: 20px;
        //color: $colour__white;

        &::after {
            background-color: $colour__white;
        }
    }
    &--inline {
        background-color: #ffffff;
        .block-link {
            display: flex;
            align-items: center;
			justify-content: center;
			background-position: center;
			&:hover{
				&:after{
					background-color: rgba($colour__grey--dark, 0.85);
				}
			}
            &:after {
				transition: all 400ms ease-in-out;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba($colour__grey--dark, 0.3);
            }
        }

        p {
            text-align: center;
            color: #ffffff;
            font-weight: 100;
			font-size: 50px;
            letter-spacing: 6.25px;
            font-family: "Cera GR Medium", Helvetica, Arial, sans-serif;
            width: 80vw;
            margin: 0 auto;
            z-index: 2;
			line-height: 1.1;
			@include media-breakpoint-down(lg){
				font-size: 25px;
			}
        }
    }
}

.awards {
    padding: 6rem !important;
    border: 2.5px solid #ffffff;
    background: {
        image: url(../../img/carpenter_oak_awards_2020.jpg);
        repeat: no-repeat;
        position: 50%;
        origin: content-box;
    }
    background-size: contain;
    &.blog {
        height: calc(25vw - 4.5px);
        @include media-breakpoint-down(sm) {
            height: calc(50vw - 4.5px);
        }
    }
    h3,
    h4 {
        @include font-size(30);
        text-transform: uppercase;
        font-family: $font__primary--medium;
        font-weight: 100;
    }

    p {
        @include font-size(20);
        text-transform: uppercase;
        font-family: $font__primary--medium;
        font-weight: 100;
        line-height: 2rem;
    }

    a {
        position: absolute;
        top: 6.4rem;
        right: 6rem;
        bottom: inherit;
        &.append-arrow {
            &::after {
                background-color: $colour__orange;
            }
        }
        @include media-breakpoint-down(md) {
            top: auto;
            right: auto;
            bottom: 30px;
            left: 30px;
        }
    }

    div {
        border: none;
        height: calc((100vw * 0.25) * 0.3);
    }

    &__image {
        width: 100%;
        max-width: 100%;
    }
    @include media-breakpoint-down(md) {
        padding: $container__padding--mobile * 2 !important;
    }
}

.text-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2rem !important;
    border-top: 5px solid $colour__white;

    a {
        position: relative;
    }
}

.blogcontent {
    background-size: cover;
    background-repeat: no-repeat;
}
