.section__faq {
  .faq--question {
    display: block;
    width: 100%;
    color: $colour__orange;
    background-color: $colour__grey--light;
    @include font-size(24);
    padding: 12px 40px 12px 12px;
    margin-bottom: 12px;
    position: relative;

    &::after {
      content: "";
      background-image: url(../../img/co-circle-arrow-down.svg);
      width: 26px;
      height: 26px;
      background-size: 100%;
      background-position: 50%;
	  @include db-absolute($right: 12px, $left: auto);
	  @include db-center();
    }

    &:hover {
      text-decoration: none;
    }
  }

  .faq--answer {
    padding: 12px;
    margin-bottom: 12px;
  }
}
