#filters {
	padding: $container__padding--desktop;
	@include media-breakpoint-down(md){
		padding: $container__padding--mobile;
	}
	@include media-breakpoint-down(sm){
		padding: 0;
	}
	background-color: $colour__orange;

	.content {
		padding-top: 60px;
		padding-bottom: 60px;
		@include media-breakpoint-down(md){
			padding-top: 30px;
			padding-bottom: 0;
			&.last{
				padding-bottom: 30px;
			}
		}

	}

	h3 {
		color: $colour__white;
		margin: 0;
		padding: 8px 0 30px;
		display: block;
		text-transform: uppercase;
		@include font-size(24);
		letter-spacing: 1.86px;
		font-family: "Cera GR Light", Helvetica, Arial, sans-serif;
		font-weight: 600;
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		@include media-breakpoint-up(xl){
			width: 50%;
			float: left;
		}

		li {
			color: $colour__white;
			text-transform: none;
			letter-spacing: 0;
			width: 100%;
			@include media-breakpoint-down(md){
				width: 50%;
			}
		}
	}

	.filters {
		.filter-buttons{
			text-align: center;
			.filters__clear-filters, .filters__apply-filters {
				font-family: $font__primary--medium;
				font-weight: 400;
				text-transform: uppercase;
				background-color: rgba($colour__grey--dark, 0.5);
				letter-spacing: 3px;
				border: none;
				@include media-breakpoint-down(sm){
					width: 49%;
				}
			}
			.filters__clear-filters {
				min-width: 110px;
				@include font-size(16);
				display: none;
				@include media-breakpoint-down(sm){
					@include font-size(15);
				}
			}
			.filters__apply-filters {
				min-width: 110px;
				@include font-size(16);
				display: none;
				@include media-breakpoint-down(sm){
					@include font-size(15);
				}
			}
			@include media-breakpoint-down(sm){
				padding-bottom: 30px;
			}
		}
		&__close-filters {
			@include db-absolute($top: 50px, $right: 50px, $bottom: auto, $left: auto);
			text-align: center;
			cursor: pointer;
			.btn{
				background-color: rgba($colour__grey--dark, 0.5);
				border-radius: 50%;
				border: none;
				&::after{
					content: url("../../img/cross.svg");
					display: block;
					height: 25px;
					width: 15px;
				}
			}
			span{
				display: block;
				letter-spacing: 3.75px;
				text-transform: uppercase;
				color: #ffffff;
			}
			@include media-breakpoint-down(md){
				top: 15px;
				right: 15px;
			}
		}
	}
}