.styled-checkbox {
	position: absolute; // take it out of document flow
	opacity: 0; // hide it

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
		margin-bottom: 15px;
	}

	// Box.
	& + label:before {
		content: '';
		margin-right: 5px;
		display: inline-block;
		vertical-align: text-top;
		width: 25px;
		height: 25px;
		background: white;
		border-radius: 10px;
		border: 1px solid $colour__grey--mid;
		float: left;
	}

	// Box hover
	&:hover + label:before {
		background: $colour__grey--mid;
	}

	// Box focus
	&:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	// Box checked
	&:checked + label:before {
		background: $colour__grey--mid;
	}

	// Disabled state label.
	&:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

	// Disabled box.
	&:disabled + label:before {
		box-shadow: none;
		background: #ddd;
	}

	// Checkmark. Could be replaced with an image
	&:checked + label:after {
		content: '';
		position: absolute;
		left: 7px;
		top: 13px;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow:
			2px 0 0 white,
			4px 0 0 white,
			4px -2px 0 white,
			4px -4px 0 white,
			4px -6px 0 white,
			4px -8px 0 white;
		transform: rotate(45deg);
	}
}