.section__hero {
	height: calc(100vw * 0.45);
	max-height: 390px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	position: relative;
	&:after{
		content: '';
		@include db-absolute();
		background-color: rgba($colour__grey--dark, 0.3);
	}
	h1 {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align:center;
		color: $colour__white;
		font-weight: 100;
		font-size: 50px;
		letter-spacing: 6.25px;
		font-family: $font__primary--medium;
		width: 80vw;
		margin: 0 auto;
		z-index: 2;
		@include media-breakpoint-down(sm){
			font-size: 24px;
		}
	}
}