a.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  @include media-breakpoint-down(md) {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

a.replace {
  &:after {
    content: url('../../../assets/img/loader.svg');
    @include db-absolute();
    @include db-center();
    margin: 0 auto;
    width: 40px;
    height: 40px;
  }
}

a.progressive:not(.replace) {
  cursor: default;
}

a.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
  @include media-breakpoint-down(md) {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

a.progressive img.preview {
  filter: blur(2vw);
  transform: scale(1.05);
}

a.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: reveal 1s ease-out;
}

@keyframes reveal {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

