.lazy{
	filter: blur(5px);
	transition: filter 1s ease-in-out;
	&.lazy-in{
		filter: blur(0);
		&:after{
			display: none;
		}
	}
}
.lazy-loader{
	background-color: $colour__grey--light;
	@include db-absolute();
	display: block;
	&:after{
		content: url('../../../assets/img/loader.svg');
		@include db-absolute();
		@include db-center();
		margin: 0 auto;
		width: 40px;
		height: 40px;
		z-index: 99;
	}
}

