.menu-btn {
	cursor: pointer;
	.mob-button {
		width: 25px;
		height: 25px;
		@include db-absolute($left: auto, $right: 15px);

		display: block;
		float: right;
		background: none;
		padding: 0;
		text-align: center;
		line-height: 30px;
		@include db-noselect();
		background-color: transparent!important;
		
		i {
			color: #666;
			font-size: 30px;
		}

		&:focus {
			outline: 0;
		}
	}
	.mob-call-button {
		width: 20px;
		height: 30px;
		@include db-absolute($top: 22px, $right: 60px, $left: auto);
		display: block;
		background: none;
		padding: 0;
		text-align: center;
		line-height: 30px;
		&:before {
			content: '';
			width: 26px;
			height: 26px;
			display: inline-block;
			text-indent: 100%;
			mask-size: 24px;
			overflow: hidden;
			background-color: #FF7D00;
			vertical-align: middle;
			padding-left: 40px;
			-webkit-mask: url(../../img/co-icon-mobile.svg) no-repeat 50% 50%;
			mask: url(../../img/co-icon-mobile.svg) no-repeat 50% 50%;
		}
	}
	#mob-nav {
		width: auto;
		border: 0;
		padding: 29px 0;

		.nav-icon {
			width: 25px;
			height: 25px;
			float: right;
			position: relative;
			cursor: pointer;
			z-index: 100;
			@include db-transform(rotate(0deg));
			@include db-transition(.5s ease-in-out);
			span {
				width: 100%;
				height: 3px;
				display: block;
				position: absolute;
				left: 0;
				background: $colour__orange;
				border-radius: 2px;
				opacity: 1;
				@include db-transform(rotate(0deg));
				@include db-transition(.25s ease-in-out);

				&:nth-child(1) {
					top: 0px;
				}
				&:nth-child(2), &:nth-child(3) {
					top: 7px;
				}
				&:nth-child(4) {
					top: 14px;
				}
			}
		}

		&.active {
			.nav-icon {
				span {
					&:nth-child(1) {
						top: 10px;
						width: 0%;
						left: 50%;
						transform: translate3d(0, 10px, 0) rotate(45deg);
					}
					&:nth-child(2) {
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}
					&:nth-child(3) {
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
					&:nth-child(4) {
						top: 10px;
						width: 0%;
						left: 50%;
					}
				}
			}
		}
	}

	p {
		color: $white;
		float: left;
		padding-left: 5px;
		text-transform: uppercase;
		margin: 0;
	}
}

.nav-icon {
	width: 25px;
	height: 25px;
	float: right;
	position: relative;
	cursor: pointer;
	z-index: 100;
	@include db-transform(rotate(0deg));
	@include db-transition(.5s ease-in-out);
	span {
		width: 100%;
		height: 3px;
		display: block;
		position: absolute;
		left: 0;
		background: $colour__orange;
		border-radius: 2px;
		opacity: 1;
		@include db-transform(rotate(0deg));
		@include db-transition(.25s ease-in-out);

		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2), &:nth-child(3) {
			top: 7px;
		}
		&:nth-child(4) {
			top: 14px;
		}
	}
}
