.section__project-start {
	.container-fluid {
		padding: 0;
		.row{
			margin: 0;
		}
	}

	.left, .right {
		min-height: 453px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		border: 2.5px solid $colour__white;
		@include media-breakpoint-down(lg){
			min-height: 535px;
		}
		@include media-breakpoint-down(md){
			min-height: 420px;
			border-left: 0;
			border-right: 0;
		}
		@include media-breakpoint-down(sm){
			min-height: 380px;
			background-size: cover;
			border-left: 0;
			border-right: 0;
		}
	}
	.left {
		background-color: $colour__grey--dark;
		background-image: url("../../img/co-watermark-start-project-left.png");
		h1, h2, h3, h4 {
			color: $colour__orange;
		}
		border-left: 0;
	}
	.right {
		background-color: $colour__orange;
		background-image: url("../../img/co-watermark-start-project-right.png");
		h1, h2, h3, h4 {
			color: $colour__white;
		}
		border-right: 0;
	}

	.content {
		margin: 80px auto;
		width: 60%;
		@include media-breakpoint-down(sm){
			width: auto;
			margin: $container__padding--mobile * 2 $container__padding--mobile;
		}
	}

	h1, h2, h3, h4 {
		@include font-size(24);
	}



	p {
		color: $colour__white;
	}

	.btn {
		display: block;
		background-color: $colour__white;
		color: $colour__orange;
		padding: 15px;
		width: 100%;
		border-radius: 0;
		margin-bottom: 1.2rem;
	}

	.project-start__set--main {
		margin: 0;
		.arrow {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}

		.project-start__option {
			@extend .col-lg-4
		}
	}
}