
.section__search {

	.container-fluid {
		padding: 60px;
	}
	.sub-content {
		padding: $container__padding--desktop;


	}
	.btn {
		background-color: $colour__white;
		color: $colour__orange;
		padding: 15px;
		border-radius: 0;
		margin-bottom: 0;
		padding-left: 0 !important;

		&::after {
			background-color: $colour__orange;
		}
	}

	h2 {
		color: $colour__orange;

		a {
			color: $colour__orange;
		}
	}

	h3 {
		font-family: $font__primary--medium;
		@include font-size(24);
		font-weight: 100;
		color: $colour__orange;
		padding-bottom: 1rem;

		a {
			color: $colour__orange;
		}

		&.border-bottom {
			border-color: $colour__orange !important;
		}
	}

	h4 {
		font-family: $font__primary--medium;
		@include font-size(24);
		font-weight: 100;
		color: $colour__orange;
		margin-bottom: 0.5rem;

		a {
			color: $colour__orange;
		}

		&.post {
			color: $colour__grey--dark;

			a {
				color: $colour__grey--dark;
			}

		}
	}

	h5 {
		font-family: $font__primary--medium;
		@include font-size($font__size--normal);
		font-weight: 100;
		letter-spacing: 1.5px;
		color: $colour__orange;

		a {
			color: $colour__orange;
		}
	}

	.border-bottom {
		margin-top: 2rem;
		margin-bottom: 2rem;

		&.hr {
			margin-left: 15px;
			margin-right: 15px;
			max-width: calc(100% - 30px);
		}
	}

	.image {
		width: 100%;
		display: block;
		height: 15vw;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		margin-bottom: 0;

		@include media-breakpoint-down(md){
			height: 30vw;
			margin-bottom: 30px;
		}

		@include media-breakpoint-down(sm){
			height: 45vw;
			margin-bottom: 30px;
		}


	}


}

// #searchform {

	//   input[type="text"] {
		//     -webkit-appearance: textfield;
		//     -webkit-box-sizing: content-box;
		//     font-family: inherit;
		//     font-size: 100%;
		//     outline: none;

		//     background: transparent url(../../img/co-search-icon.svg) no-repeat 9px center;
		//     border: none;
		//     width: 15px;

		//     padding: 28px 0 28px 10px;
		//     margin: 0;

		//     color: transparent;
		//     cursor: pointer;

		//     -webkit-transition: all .5s;
		//     -moz-transition: all .5s;
		//     transition: all .5s;
		//   }

		//   input::-webkit-search-decoration,
		//   input::-webkit-search-cancel-button {
			//     display: none;
			//   }

			//   input:-moz-placeholder, input::-webkit-input-placeholder {
				//     color: transparent;
				//   }

				//   input[type="text"]:focus {
					//     width: 130px;
					//     padding-left: 32px;
					//     color: #000;
					//     background-color: #fff;
					//     cursor: auto;

					//     @include media-breakpoint-down(lg) {
						//       width: 100%;
						//     }

						//     border-color: #66CC75;

						//     -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
						//     -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
						//     box-shadow: 0 0 5px rgba(109,207,246,.5);
						//   }

						//   input[type="text"]:hover {
							//     background-color: #fff;
							//   }

							//   input[type="submit"], label {
								//     display: none;
								//   }
								// }

