.section__faq,
.section__office,
.section__text {

	@include media-breakpoint-up(sm){
		.container-fluid {
			//padding: 0;
		}
	}
}

.sub-menu {
	background-color: $colour--grey__light;
	padding: 80px 60px;
	@include media-breakpoint-down(md){
		padding: 50px 15px;
	}
		.back{
			@extend .h2;
			text-transform: uppercase;
			letter-spacing: 3.75px;
			color: $colour__orange;
			padding-bottom: 50px;
			display: block;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;


			li {
				position: relative;
				padding: 6px 0;
				z-index: 1;

				a {
					font-family: $font__primary--medium;
					@include font-size($font__size--normal);
					color: $colour--grey__mid;
					letter-spacing: 2.67px;
					line-height: 25px;
					@include db-transition(250ms ease-in-out);
					&:hover{
						color: $colour__orange;
					}
				}

				&.current_page_item {

					a {
						color: $colour--orange;
					}

					&::before {
						content: '';
						position: absolute;
						height: 4px;
						background-color: $colour--orange;
						width: 100px;
						top: 16px;
						left: -115px;
					}
				}
				&.page_item_has_children {
					.children {
						padding: 10px 20px;
						margin-top: 10px;
						li a{
							color: $colour__grey--mid;
							&:hover{
								color: $colour__orange;
							}
						}
					}

					.current_page_item {

						a {
							color: $colour--orange !important;
						}
					}
				}
			}
			&.tags{
				padding-top: 10px;
				li{
					a{
						text-decoration: underline;
						text-transform: capitalize;
						font-size: 2.4rem;
						color: #c7c7c7;
					}
				}
			}
		}

	}
.sidebar-no-menu {
	border-bottom: 5px solid white;
}

.sub-content {
	padding: 80px;
	@include media-breakpoint-only(md){
		padding: $container__padding--desktop;
	}
	@include media-breakpoint-down(sm){
		padding-left: $container__padding--mobile;
		padding-right: $container__padding--mobile;
	}

	h1,h2,h3,h4,h5,h6 {
		color: $colour--orange;
	}

	.bk-orange {
		color: $colour--white;
	}

}