.side-bar {

	padding: 0;
	overflow: hidden;

	a {
		position: relative;
		z-index: 1;
	}

	ul, a.back {
		padding: 80px 60px;

		@include media-breakpoint-down(md) {
			padding: 50px 15px;
		}

		&.children {
			padding: 0;
		}
	}

	&__image {
		&:after {
			content: '';
			background: url("../../img/co-watermark-sidebar.png");
			background-repeat: no-repeat;
			background-size: cover;
			@include db-absolute($top: auto);
			height: 15vw;
			z-index: 0;
		}
	}

	.collapse {
		@include media-breakpoint-up(lg){
			display: block;
		}
	}

	&__filter {
		text-align: center;
		display: block;
		width: 100%;

		&--link {
			color: $colour__grey--mid !important;
			margin: 0;
			padding: 28px 0px;
			display: inline-block;
			text-transform: uppercase;
			@include font-size($font__size--small);
			font-size: 13px;
			letter-spacing: 1.86px;
			font-family: $font__primary--light;
			font-weight: 600;
			position: relative;
			cursor: pointer;
			@include media-breakpoint-down(md){
				@include font-size($font__size--normal);
				line-height: 1;
			}
			.nav-icon{
				margin-left: 5px;
				z-index: 1;
			}
			&[aria-expanded=true] {
				.nav-icon {
					span {
						&:nth-child(1) {
							top: 10px;
							width: 0%;
							left: 50%;
							transform: translate3d(0, 10px, 0) rotate(45deg);
						}
						&:nth-child(2) {
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-o-transform: rotate(45deg);
							transform: rotate(45deg);
						}
						&:nth-child(3) {
							-webkit-transform: rotate(-45deg);
							-moz-transform: rotate(-45deg);
							-o-transform: rotate(-45deg);
							transform: rotate(-45deg);
						}
						&:nth-child(4) {
							top: 10px;
							width: 0%;
							left: 50%;
						}
					}
				}
			}

		}
	}
}

