.icon__social {
	width: 26px;
	height: 26px;
	display: inline-block;
	text-indent: 100%;
	mask-size: 24px;
	overflow: hidden;
	background-color: $colour__orange;
	vertical-align: middle;
	cursor: pointer;
	&:hover{
		background-color: $colour__grey--mid;
	}

	&--logo {
		-webkit-mask: url(../../img/co-logo.svg) no-repeat 50% 50%;
		mask: url(../../img/co-logo.svg) no-repeat 50% 50%;
		-webkit-mask-size: 32px;
		width: 32px;
		height: 32px;
		&:hover{
			background-color: $colour__orange;
		}

	}

	&--facebook {
		-webkit-mask: url(../../img/co-social-icon-facebook.svg) no-repeat 50% 50%;
		mask: url(../../img/co-social-icon-facebook.svg) no-repeat 50% 50%;

	}

	&--twitter {
		-webkit-mask: url(../../img/co-social-icon-twitter.svg) no-repeat 50% 50%;
		mask: url(../../img/co-social-icon-twitter.svg) no-repeat 50% 50%;
	}

	&--instagram {
		-webkit-mask: url(../../img/co-social-icon-instagram.svg) no-repeat 50% 50%;
		mask: url(../../img/co-social-icon-instagram.svg) no-repeat 50% 50%;
	}

	&--youtube {
		-webkit-mask: url(../../img/co-social-icon-youtube.svg) no-repeat 50% 50%;
		mask: url(../../img/co-social-icon-youtube.svg) no-repeat 50% 50%;
	}

	&--linkedin {
		-webkit-mask: url(../../img/co-social-icon-linkedin.svg) no-repeat 50% 50%;
		mask: url(../../img/co-social-icon-linkedin.svg) no-repeat 50% 50%;
	}

	&--pinterest {
		-webkit-mask: url(../../img/co-social-icon-pinterest.svg) no-repeat 50% 50%;
		mask: url(../../img/co-social-icon-pinterest.svg) no-repeat 50% 50%;
	}
}

span {
	&.icon {
		&::before {
			content: '';
			width: 26px;
			height: 26px;
			display: inline-block;
			text-indent: 100%;
			mask-size: 24px;
			overflow: hidden;
			background-color: $colour__orange;
			vertical-align: middle;
			padding-left: 40px;
		}

		&--phone {
			&::before {
				-webkit-mask: url(../../img/co-icon-mobile.svg) no-repeat 50% 50%;
				mask: url(../../img/co-icon-mobile.svg) no-repeat 50% 50%;
			}
		}

		&--email {
			&::before {
				-webkit-mask: url(../../img/co-icon-email.svg) no-repeat 50% 50%;
				mask: url(../../img/co-icon-email.svg) no-repeat 50% 50%;
			}
		}

		&--linkedin {
			&::before {
				-webkit-mask: url(../../img/co-social-icon-linkedin.svg) no-repeat 50% 50%;
				mask: url(../../img/co-social-icon-linkedin.svg) no-repeat 50% 50%;
			}
		}

	}
}