#team-profile {
	padding-top: 0px;
	padding-bottom: 0px;

	h2 {
		@include font-size(24);
		display: inline-block;
	}

	h3 {
		@include font-size(18);
		margin-bottom: 20px;
		display: inline-block;
	}

	h4 {
		@include font-size($font__size--normal);
		text-transform: none;
		letter-spacing: 1px;
		margin-bottom: 1.2rem;
	}

	.profile-image {
		width: 100%;
		height: calc(66vw * 0.45);
		background-color: $colour__grey--light;
		margin-bottom: 3rem;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		@include media-breakpoint-down(sm){
			height: calc(66vw * 1.45);
		}
	}

	a {
		color: $colour__orange;
	}

	.post_nav {
		display: inline-block;
		float: right;
		@include media-breakpoint-down(sm){
			@include db-absolute($top:15px, $right:15px, $bottom: auto, $left: auto);
		}
	}

	.prev_post,
	.next_post {
		width: 28px;
		height: 28px;
		display: inline-block;
		text-indent: -9999px;
		background-size: 100%;
		background-position: 50%;
		background-repeat: no-repeat;
	}

	.prev_post {
		    background-image: url(../../img/co-circle-arrow-left.svg);
	}

	.next_post {
		    background-image: url(../../img/co-circle-arrow-right.svg);
	}
}