.section__team {
	height: 540px;
	width: 100%;
	background-color: $colour__grey--light;
	// border-top: 5px solid $colour__white;
	// border-bottom: 5px solid $colour__white;
	overflow: hidden;
	// padding-top: 80px;
	// padding-bottom: 80px;
	// padding-left: 60px;
	// padding-right: 60px;

	.introduction {
		margin-bottom: 60px;
	}

	@include media-breakpoint-down(sm) {
		height: auto;
	}

	h3 {
		@include font-size(30);
	}

	h4 {
		@include font-size($font__size--large);
		color: $colour__grey--dark;
		margin-top: 2rem;
		margin-bottom: 10px;
	}

	h5 {
		@include font-size(18);
		margin-bottom: 30px;
	}


	&.list {
		background: none;
		height: auto;
		h5{
			margin-bottom: 0;
		}
	}

	.member {
		//opacity: 0;
		//@include db-transition(all (.3s) ease-out);
		//$lines: 20;
		//$delay: 0.1;
		//$delay-inc: 0.1;
		//
		//@for $i from 2 to $lines {
		//	&:nth-child(#{$i}) {
		//		@include db-transition-delay($i * $delay-inc + s);
		//	}
		//}
		//&.active {
		//	opacity: 0;
		//}
		//&.in {
		//	opacity: 1;
		//}
	}
	
	.profile {
		background-color: $colour__grey--light;
		display: inline-block;
		width: 100%;
		margin-top: 3rem;
		position: relative;
		.image {
			width: 42%;
		    height: calc(35vw * 0.5);
		    display: inline-block;
		    float: left;
		    margin-right: 2rem;
		}

		.content {
			// width: 90vw;
			//display: inline;
			padding: 15px;
		}

		@include media-breakpoint-down(lg){
			.image {
				width: 100%;
				margin-right: 0;
				float: none;
			}
			h4{
				margin-top: 0;
			}
		}
		@include media-breakpoint-down(sm){
			.image{
				height: 80vw;
			}
		}
	}

	.team-filter {
		background-color: $colour__grey--light;
		margin-bottom: 3rem;
	}
	

	.left-col {
		padding: 60px;
		border-right: 2.5px solid $colour__white;
		margin: 0;
		overflow: hidden;
		.carousel-inner {
			&:before, &:after{
				content: '';
				height: 15px;
				z-index: 2;
			}
			&:before{
				@include db-absolute($bottom:auto);
				@include db-linear_gradient(180deg, $colour__grey--light, $colour__grey--light, 1, 0 )
			}
			&:after{
				@include db-absolute($top:auto);
				@include db-linear_gradient(360deg, $colour__grey--light, $colour__grey--light, 1, 0 )
			}
		}
		.carousel-item {
			height: 366px;
			overflow: auto;
		}
		@include media-breakpoint-down(md){
			padding: $container__padding--mobile;
		}
	}
	.right-col {
		border-left: 2.5px solid $colour__white;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.carousel-item {
		font-size: 16px;
	}

	.carousel-control-prev, .carousel-control-next {
		// color: $colour__orange;
		bottom: inherit;
		opacity: 1;
		top: -40px;
		width: 28px;
	}

	.carousel-control-prev {
		right: 40px;
		left: inherit;
	}

	.carousel-control-next {
		right: 0px;
		left: inherit;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
		// background: $colour__orange no-repeat center center;
		width: 28px;
		height: 28px;
	}

	.carousel-control-prev-icon {
		background-image: url(../../img/co-circle-arrow-left.svg);
	}

	.carousel-control-next-icon {
		background-image: url(../../img/co-circle-arrow-right.svg);
	}

	.image {
		height: 540px;
		background-size: cover;
		background-position: 50%;
	}
}