.section__testimonial {
	background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url(../../img/co-wooden-texture.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	padding-top: 80px;
	padding-bottom: 80px;

	.quote {
		padding: 0px 120px;
		@include font-size(20);
		font-family: $font__primary--medium;
		font-weight: normal;
		color: $colour__grey--mid;
		width: 80%;
		&::before {
			content: '';
			background-image: url(../../img/co-start-quote.svg);
			background-size: 100%;
			background-position: 50%;
			background-repeat: no-repeat;
			width: 47px;
			height: 37px;
			display: block;
			margin-bottom:15px;
		}

		p {
			&::after {
				content: '';
				background-image: url(../../img/co-end-quote.svg);
				background-size: 100%;
				background-position: 50%;
				background-repeat: no-repeat;
				width: 19px;
				height: 15px;
				display: inline-block;
				margin-left: 5px;
			}
		}

		h4 {
			@include font-size(24);
		}
		@include media-breakpoint-down(md){
			width: 100%;
		}
		@include media-breakpoint-down(sm){
			padding: 0 $container__padding--mobile;
		}
	}

	.carousel-control-prev, .carousel-control-next {
		// color: $colour__orange;
		bottom: inherit;
		opacity: 1;
		top: -40px;
		width: 28px;
	}

	.carousel-control-prev {
		right: 40px;
		left: inherit;
	}

	.carousel-control-next {
		right: 0px;
		left: inherit;
	}

	.carousel-control-prev-icon, .carousel-control-next-icon {
		// background: $colour__orange no-repeat center center;
		width: 28px;
		height: 28px;
	}

	.carousel-control-prev-icon {
		background-image: url(../../img/co-circle-arrow-left.svg);
	}

	.carousel-control-next-icon {
		background-image: url(../../img/co-circle-arrow-right.svg);
	}
}