.section__text {
	.sub-content {
		&.introduction {
			padding-left: 16rem;
			padding-right: 0;
			padding: $container__padding--desktop;
			@include media-breakpoint-down(md){
				padding: $container__padding--mobile * 2  $container__padding--mobile;
				&:after{
					content: '';
					@include db-absolute($top:auto);
					height: 150px;
					background: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../../img/co-textured-logo-black.png) no-repeat;
					background-size: 100%;
					background-position: 5vw 5vh;
					z-index: -1;
				}
			}
		}

		&.logo {
			background: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../../img/co-textured-logo-black.png) no-repeat;
			background-size: 100%;
			background-position: 5vw 5vh;
			@include media-breakpoint-down(md){
				display: none;
			}
		}

		.date {
			display: block;
			text-transform: uppercase;
			font-weight: 100;
			letter-spacing: 3.75px;
			font-size: 2.4rem;
			color: $colour__orange;
			font-family: $font__primary--medium;
			@include media-breakpoint-down(md){
				@include font-size(17);
			}
		}

	}

}