@import 'tools/reset';
@import 'tools/fonts';
@import 'tools/mixins';
@import 'tools/variables';


@import "../../node_modules/bootstrap/scss/functions";
@import 'bootstrap-definitions';
@import 'bootstrap';

@import 'mixins/main';
@import 'layout/main';
@import 'sections/main';
@import 'components/main';
@import 'parts/main';
@import 'pages/main';
@import 'base/main';
@import "assets/main";



html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
	@include font-size($font__size--normal);
	font-family: $font__primary--light;
}

*:focus {
  outline: none;
}

.text-orange {
  color: $colour__orange;
}
.text-black {
  color: $black;
}

.bk-orange {
  background-color: $colour__orange;
  color: $colour__white;
  //display: inline;
  padding: 5px;
  .append-arrow::after{
    background-color: white;
  }
}

.bk-grey {
  background-color: $colour__grey--light;
}

.no-pad {
  padding: 0;
}
