.newsletter{
	text-transform: uppercase;
	a {
		color: $colour__orange;
		font-size: inherit;
		cursor: pointer;
	}
	@include media-breakpoint-down(sm){
		padding: 15px;
	}
}
#footer {
	border-top: 5px solid $colour__white;
	@include font-size($font__size--small);
	padding: $container__padding--desktop;
	color: $colour__grey--dark;
	letter-spacing: 3px;
	text-transform: uppercase;
	background-size: 115%;
	background-position: 50%;
	position: relative;
	background-clip: padding-box;
	@include media-breakpoint-down(md){
		background-size: cover;
	}
	> .container-fluid{
		position: relative;
		z-index: 99;
	}
	&:after{
		content: '';
		display: block;
		@include db-absolute($bottom: -1px);
		background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9));
	}

	h2 {
		color: $colour__orange;
		@include font-size($font__size--normal);
		margin-bottom: 0;
		font-weight: 600;
		letter-spacing: 1.86px;
		font-family: $font__primary--light;
	}
	a {
		color: $colour__orange;
		font-size: inherit;
	}

	p {
		margin-bottom: 0;
	}
	.footer-contact-btn{
		padding: 1.5rem;
	}
	@include media-breakpoint-down(sm){
		.newsletter {
			a {
				display: block;
			}
		}
		.footer-social-icons{
			padding: 15px 0;
			display: block;
		}
		.footer-details {
			padding: 15px 0;
			display: block;
		}
	}
}
.footer-bottom {
	color: $colour__grey--mid;
	@include font-size($font__size--small);
	p{

		margin-bottom: 0;
		
	}
}
.footer-details-contact{
	text-transform: uppercase;
	padding: 20px $container__padding--desktop;
	background-color: $colour__grey--dark;
	p{
		letter-spacing: 3px;
	}
	span{
		color: $colour__grey--light;
	}
}
.footer-details-vat{
	padding: 10px $container__padding--desktop;
	background-color: $colour__grey--darker;
}
