body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

#sgpb-popup-dialog-main-div{
  -webkit-overflow-scrolling: touch;
  > div {
    overflow: unset!important;
  }
}

.fixed{
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.center {
  width: 300px;
  margin: 0 auto;
  display: block;
  z-index: 10;
  @include media-breakpoint-up(sm){
    @include db-absolute($left:0, $bottom: auto, $right:0);
    @include db-center();
  }
  @include media-breakpoint-down(sm) {
    @include db-absolute($top: auto, $right: 30px, $bottom: 30px, $left: 30px);
  }
}


a {
  text-decoration: none;
  transition: 250ms ease-in-out;
  &:hover {
    text-decoration: none;
    //opacity: $hover-opactiy;
  }
}

.carousel-control-next {
  .carousel-control-next-icon{
    @include db-transition(250ms ease-in-out);
    @include media-breakpoint-up(md){
      &:hover{
        opacity: 0.8;
        transform: scale(1.1);
      }
    }
  }
}
.carousel-control-prev {
  .carousel-control-prev-icon{
    @include db-transition(250ms ease-in-out);
    &:hover{
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}
*{
  background-clip: padding-box;
}

.text-background {
  display: inline;
  background: $colour__orange;
  color: white;
  padding: 0.2rem 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 5px 0 0 $colour__orange, -10px 0 0 $colour__orange;
}

details summary::-webkit-details-marker {
  display:none;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}