#header {
    background-color: $colour__white;
    padding: 0 $container__padding--desktop;
    @include media-breakpoint-down(sm){
        padding: 0 $container__padding--mobile;
    }

    @include media-breakpoint-up(lg){
        width: 100%;
        transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
        top: 0;
        z-index: 99;
        display: block;
        position: fixed;
        transform: translate3d(0px, 0px, 0px);
        &.scrolling {
            position: fixed;
            display: block;
            transform: translate3d(0px, -115px, 0px);
            transition: background 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
            background: rgba(#fff, 1);
            z-index: 9999;
            &.scroll-down {
                transform: translate3d(0px, -115px, 0px);
                transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
            }
            &.scroll-up {
                transform: translate3d(0px, 0px, 0px);
                transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
            }
        }
    }
    #logo {
        width: 200px;
        max-width: 200px;
        height: 80px;
        padding: 23px 0;
        display: block;
        background: {
            image: url(../../img/co-logo-with-text.svg);
            position: 50% 50%;
            repeat: no-repeat;
            size: 100%;
        }
    }

    .search-bar {
        input {
            margin-top: 0;
            margin-bottom: 0;
            height: 80px;
            background-color: $colour__white;
            border: 0;
            border-bottom: 5px solid $colour__orange;
            padding-left: 2.5rem;
            background: {
                image: url(../../img/co-search-icon.svg);
                repeat: no-repeat;
                position: 0 50%;
            }

            &::-webkit-input-placeholder {
                color: $colour__orange;
            }
            &:-ms-input-placeholder { 
                color: $colour__orange;
            }
            &::-moz-placeholder {
                color: $colour__orange;
                opacity: 1;
            }
            *:-moz-placeholder { 
                color: $colour__orange;
                opacity: 1;
            }
        }
    }
}

.page-wrapper{
    @include media-breakpoint-up(lg) {
        margin-top: 80px;
    }
}