nav {
	width: 100%;
	#menu {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		&.footer {
			margin: 20px 0;
			li {
				text-align: left;
				a {
					margin: 0;
					padding: 8px 0;
					display: block;
					color: $colour__grey--mid;
					@include font-size($font__size--normal);
					font-size: 16px;
					letter-spacing: 0;
					text-transform: none;
					font-family: $font__primary--light;
					font-weight: 600;
					cursor: pointer;
					&:hover {
						color: $colour__orange;
					}		
				}
			}
		}
		&.header {
			flex-flow: row wrap;
			li {
				margin: 0;
				padding: 0;
				float: left;
				text-align: center;
				display: none;
				position: relative;
				
				@include media-breakpoint-up(md) {
					display: list-item;
					flex-grow: 1;
				}
				&:not(.search-btn):not(.menu-btn) {
				}
				a {
					color: $colour__grey--mid;
					margin: 0;
					padding: 28px 0;
					display: block;
					text-transform: uppercase;
					@include font-size($font__size--small);
					font-size: 13px;
					letter-spacing: 1.86px;
					font-family: $font__primary--light;
					font-weight: 600;
					cursor: pointer;
					vertical-align: top;
					&:hover {
						color: $colour__orange;
						text-decoration: none;
					}
				}
				#searchBtn {
					text-indent: 9999px;
					display: inline-block;
					overflow: hidden;
					width: 14px;
					padding: 23px 0;
					background: {
						image: url(../../img/co-search-icon.svg);
						repeat: no-repeat;
						position: 50%;
					}
				}
				&.menu-item-has-children {
					a {
						&::after {
							content: ' ';
							width: 12px;
							height: 12px;
							margin-left: 10px;
							display: inline-block;
							background: {
								image: url(../../img/co-nav-menu-arrow.svg);
								repeat: no-repeat;
								position: 100% 70%;
							}
							@include db-transition(transform 350ms ease-in-out);
							@include media-breakpoint-down(md) {
								float: right;
							}
						}
					}
					&:hover {
						a {
							&::after{
								@include db-transform(rotate(-180deg));
								transform-origin: center;
							}
						}
					}
					ul {
						border-bottom: 4px solid $colour__orange;
						li {
							a {
								width: calc(100% - 40px);
								margin: 0 20px;
								border-bottom: 1px solid $colour__grey--light;
								padding-left: 0;
								padding-right: 0;
								&::after {
									background: none;
									content: none;
								}
							}
							@include media-breakpoint-down(md) {
								background-color: $colour__grey--light;
								border-bottom: 1px solid #FFFFFF;
								a {
									border: none;
									padding: 20px 0;
									width: 100%;
									margin: 0;
								}
							}
						}
					}
				}

				&.current-menu-item {
					a {
						border-bottom: 5px solid $colour__orange;
					}
				}

				&.more-btn {
					@include media-breakpoint-up(xl) {
						display: none !important;
					}
				}

				&.menu-btn {
					@include media-breakpoint-up(md) {
						display: none !important;
					}
				}

				.sub-menu {
					position: absolute;
					top: 98%;
					left: 0;
					z-index: 1000;
					float: left;
					min-width: 270px;
					padding: 0;
					margin: .125rem 0 0;
					color: #212529;
					text-align: left;
					list-style: none;
					background-color: #fff;
					background-clip: padding-box;
					vertical-align: top;
					border-bottom: 5px solid $colour__orange;
					max-height: 0;
					overflow: hidden;
					visibility: hidden;
					@include db-transition(all 500ms ease-in-out);
					li {
						display: block;
						float: none;
						text-align: left;
						padding: 0 10px;
						a {
							border: none;
							padding: 8px 0;
							display: block;
						}
						&:last-of-type {
							padding-bottom: 10px;
							@include media-breakpoint-down(md) {
								padding-bottom: 0;
							}
						}

					}
					@include media-breakpoint-down(md) {
						display: flex;
						flex-direction: column;
						position: relative;
						min-width: 100%;
						top: 0;
						li {
							display: block;
							float: none;
							text-align: left;
							padding: 0 10px;
							width: 100%;
						}
					}
				}

				&.active{
					.sub-menu{
						max-height: 600px;
						visibility: visible;
					}
				}

				@include media-breakpoint-up(lg){
					&:hover {
						.sub-menu {
							max-height: 600px;
							visibility: visible;
						}
					}
				}

				@include media-breakpoint-down(md) {

				}
			}
			@include media-breakpoint-down(md) {
				flex-flow: column wrap;
				padding: 50px;
				li {
					margin: 0;
					padding: 0;
					float: left;
					text-align: left;
					position: relative;
					display: list-item;
					flex-grow: 1;
					a {
						border-bottom: 1px solid $colour__grey--light;
					}
				}
			}

		}

		&.sub {
			height: 80px;
			display: inline-block;
			flex-direction: column;
			@include media-breakpoint-down(sm){
				@include scroll-animation();
			}
			li {
				margin: 0;
				padding: 0;
				display: inline-block;
				text-align: left;
				padding-right: 30px;
				.hide-radio {
					display: none;
				}
				.menu-item, a {
					color: $colour__grey--mid;
					margin: 0;
					padding: 28px 0px;
					display: block;
					text-transform: uppercase;
					@include font-size($font__size--small);
					font-size: 13px;
					letter-spacing: 1.86px;
					font-family: $font__primary--light;
					font-weight: 600;
					cursor: pointer;
					&.active {
						color: $colour__orange;
						border-bottom: 5px solid $colour__orange;
					}
					&:hover {
						color: $colour__orange;
						text-decoration: none;
					}
					&.filters {
						position: relative;
						@include media-breakpoint-down(md){
							@include font-size(16);
							line-height: 1;
						}
						.nav-icon{
							margin-left: 5px;
						}
						&[aria-expanded=true] {
							.nav-icon {
								span {
									&:nth-child(1) {
										top: 10px;
										width: 0%;
										left: 50%;
										transform: translate3d(0, 10px, 0) rotate(45deg);
									}
									&:nth-child(2) {
										-webkit-transform: rotate(45deg);
										-moz-transform: rotate(45deg);
										-o-transform: rotate(45deg);
										transform: rotate(45deg);
									}
									&:nth-child(3) {
										-webkit-transform: rotate(-45deg);
										-moz-transform: rotate(-45deg);
										-o-transform: rotate(-45deg);
										transform: rotate(-45deg);
									}
									&:nth-child(4) {
										top: 10px;
										width: 0%;
										left: 50%;
									}
								}
							}
						}
					}
				}
				.first {
					padding-left: 30px;
				}
				&:nth-last-child(3){
					@include media-breakpoint-down(md){
						padding-right: 50px;
					}
				}
			}
			.more-filters{
				@include db-absolute($right: 15px, $bottom: auto, $left: auto);
				background-color: #ffffff;
				//box-shadow: -20px 0px 20px 0px #ffffff
				&:before{
					content: '';
					display: block;
					@include db-absolute($left: -55px);
					width: 55px;
					background: linear-gradient(-90deg, white 20%, rgba(255, 255, 255, 0));
				}
			}
			&.project-sub{
				@include media-breakpoint-down(sm){
					// animation: none!important;
				}
				li{
					@include media-breakpoint-down(md){
						// width: 145px;
						// margin: 0 auto;
						// display: inline-block;
						position: relative;
						// right: 0;
					}
					&:nth-last-child(2){
						padding-right: 177px;
					}
				}
			}
		}

	}
}

.header nav {
	@include media-breakpoint-down(md) {
		@include db-transform(translate(0%, -100%));
		@include db-transition(all (0.4s) ease-in-out);
		z-index: 99;
		background-color: #ffffff;
		@include db-position(fixed);
		overflow: auto;
		&.active {
			@include db-transform(translate(0%, 0%));
		}
	}

	&.more-menu {
		@include db-transition(all (0.4s) ease-in-out);

		@include media-breakpoint-down(lg) {
			@include db-transform(translate(0%, -100%));


			&.animate {
				
				@include db-transform(translate(0%, 0%));
			}
			

			z-index: 99;
			background-color: #ffffff;
			@include db-position(fixed);
			overflow: auto;

			#menu {
				flex-flow: column wrap;
				padding: 50px;
				@include db-transition(all (0s) ease-in-out);

				li {
					margin: 0;
					padding: 0;
					float: left;
					text-align: left;
					position: relative;
					flex-grow: 1;

					&.d-lg-none {
						display: block !important;
					}

					a {
						border-bottom: 1px solid #F2F2F2;
					}

					&.menu-item-has-children {
						ul {
							display: flex;
							flex-direction: column;
							position: relative;
							min-width: 100%;

							li {
								background-color: $colour__grey--light;
								border-bottom: 1px solid #FFFFFF;
								a {
									border: none;
									padding: 20px 0;
									width: 100%;
									margin: 0;
								}
							}
						}

						a {
							&::after {
								float: right;
							}
						}
					}
				}
			}
		}
	}
}

.header {
	&.active {
		.menu-btn {
			display: block !important;
		}
	}
}

.sub-content, #sub-menu {
	nav{
		width: 100%;
		white-space: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}
