h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	font-weight: normal;
	font-family: $font__primary--light;
	color: $colour__grey--mid;
	letter-spacing: 3.75px;
	margin-bottom: 1.6rem;
}

h1, .h1 {

}

h2, .h2 {
	font-family: $font__primary--medium;
	@include font-size(24);
	font-weight: 100;
}

h3, .h3 {

}

h4, .h4 {

}

.lead {
	@include font-size($font__size--large);
}
