@font-face {
    font-family: 'Cera GR Light';
    src: url("../../fonts/Cera_GR_Light.otf") format("opentype");
}

@font-face {
    font-family: 'Cera GR Medium';
    src: url("../../fonts/Cera_GR_Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Cera GR Bold';
    src: url("../../fonts/Cera_GR_Bold.otf") format("opentype");
}