// This function automatically converts pixels to ems
@function em($pixels, $context: 16) {
	@return #{$pixels/$context}em;
}

// Sets the font size using rem but provides a fixed px fallback for older browsers
@mixin font-size($sizeValue: 12 ){
	font-size: $sizeValue + px; //fallback for old browsers
	font-size: (0.10 * $sizeValue) + rem;
}