// Inerhiting box-sizing as per Jon Neal's idea via CSS-Tricks
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
	margin: 0;
	padding: 0;
}

header,
footer,
nav,
section,
article,
hgroup,
figure {
	display: block;
}

// Removes hidden spacing in FF
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}