//Colors

$colour__white									: #ffffff;
$colour__orange									: #FF7D00;
$colour__orange--dark							: #D36800;
$colour__grey--light							: #F2F2F2;
$colour__grey--mid								: #898989;
$colour__grey--dark								: #535353;
$colour__grey--darker                           : #2D2D2D;

//font-sizes

$font__size--small								: 13;
$font__size--normal								: 16;
$font__size--large								: 20;

//font-families

$font__primary--light							: 'Cera GR Light',Helvetica,Arial,sans-serif;
$font__primary--medium							: 'Cera GR Medium',Helvetica,Arial,sans-serif;
$font__primary--bold							: 'Cera GR Bold',Helvetica,Arial,sans-serif;

$container__padding--desktop: 50px;
$container__padding--mobile: 15px;

$hover-opactiy: 0.6;