.card-top-image {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 200px;
  border: 2px solid $gray-100;
}

.card {
  position: relative;
  transition: box-shadow 0.4s cubic-bezier(0.39, 0.58, 0.57, 1);
  border: 0;
  margin-bottom: 60px;
  .card-title {
    line-height: 1.1;
    font-size: 36px;
    margin-bottom: 20px;
  }
  &-body {
    padding-bottom: 30px * 2;
    font-size: 16px;
  }
  .btn {
    margin: -30px auto 0 auto;
  }
}