section {
  position: relative;
  overflow: hidden;
  .section-title {
    line-height: 1.2;
    margin: 0 0 60px 0;
    font-size: 40px;
    font-weight: 500;
    .word {
      font-size: 0;
      display: inline;
      margin-right: 10px;
      div {
        display: inline-block;
        font-size: 40px;
        font-weight: 500;
      }
    }
  }
}